  * {
    margin: 0px;
  }

  hr {
    background-color: rgb(173, 20, 20);
  }
  html, body {
    background-color: black;
  }

._md-nav-bar-list, .md-padding {
  background: black;


}

.md-padding {
  padding: 2px;
}
  .grad{
background: linear-gradient(rgb(4, 4, 82), rgb(110, 23, 110), rgb(240, 112, 112), rgb(240, 201, 134), rgb(246, 225, 132));

}

header {
  
  height: 300px;
  background-image: url('/imgs/mplsSky.png');
  background-size: contain;
  background-size: cover; 
  color: white;
}
 .title {
   opacity: .90;
   text-align: center;
   font-size: 100px;
   padding-top: 0px;
   margin-bottom: 120px;
   text-shadow: 2px 2px #2b0be2;
   font-family: 'Fascinate Inline',
   cursive;
   /* padding-bottom: 0px; */
 }
 h1 {
   font-size: 40px;
   text-align: center;
   color: white;
 }

.search {
  margin-top: 30px;
  margin-bottom: 10px;
  color: white;
}

.homeHeader {
  font-size: 200px;
   font-family: 'Fascinate Inline',
   cursive;
   text-shadow: 5px 5px #461A8B;;

}

.black {
  color: black;
}

.homeBody {
  position: absolute;
  top: 0; 
  left: 0;
  height: 100%;
  width:100%;
}
.openingPageLeft {
  height: 100%;
  width:50%;
  float: left;
  color: black;
  background-color: white;
  
}

.openingPageRight {
  background-image: url('/imgs/owl.jpg');
  background-repeat: no-repeat;
  background-position: right;
  background-size: 100%;
  height: 100%;
  width:50%;
  float: right;
}

.owl {
  position: absolute;
  bottom: 0;
  left: 5;
  padding-left: 100px;
}

.homeButton {
 color: #461A8B;
}

.gm-style-iw {
  color: black;
}