<div class="grad">
  <header>

    <div ng-include="'/views/partials/header.html'"></div>
    <div ng-include="'/views/partials/nav.html'"></div>

  </header>
</div>
<h1>This Week in Minneapolis</h1>
<section ng-repeat="event in ec.events[0]">
  <div>
    <img src="{{event.image.url}}">
    <h2>{{event.title}}</h2>
     {{event.start_time}} {{event.stop_time}}<br>
    description: {{event.description}} <br>
    <strong>{{event.venue_name}}</strong>
    {{ event.venue_address}}
     {{ event.city_name}}
     {{ event.region_name}}
     {{ event.postal_code}} <br>
     <a href="{{ event.venue_url}}">Venue Site</a>
     <a href="{{event.url}}">Find Tickets</a>"
     

  </div>

</section>
