<div class="homeBody">
<div class="openingPageLeft">
<h1 class="homeHeader black">
    Night
</h1>
<md-button class="homeButton" href="#/login">Log In </md-button>
<md-button class="homeButton" href="#/register">Register</md-button>
<md-button class="homeButton" href="#/map">Continue to Site</md-button>
</div>

<!-- <md-button id="continueButton" href="#/map"><span class="black">Continue t</span>o Site</md-button> -->
<div class="openingPageRight">
<h1 class="homeHeader owl">
    Owl
</h1>
</div>
</div>


