<section>
<div class="grad">
    <header>
        
        <div ng-include="'/views/partials/header.html'"></div>
        <div ng-include="'/views/partials/nav.html'"></div>
       
    </header>
    </div>
  
    <div>
        <h1>Search Open Places</h1>
        <input places-auto-complete name="searchbox" type="text" size="40" placeholder="What are you looking for?" ng-model="mc.address" component-restrictions="{country:'us'}"
    types="{{types}}">
        <select ng-model="mc.types">
            <option value="" disabled selected>Categories</option>
            <option value="restaurant">Restaurants</option>
            <option value="delivery">Delivery</option>
            <option value="store">Stores</option>
            <option value="bar">Bars</option>
            <option value="night_club">Clubs</option>
            <option value="all">All</option>

        </select>
        <button ng-click="mc.searchPlaces()">Search</button>
    <ng-map id="map" class='map_canvas' center="[44.97, -93.26]" zoom="9">
        <!-- <marker position="[44.97, -93.26]" title="hello"></marker> -->
    </ng-map>
    </div>
               
</section>